# Toets Programmeren

# VERGEET NIET OP TE SLAAN NA HET MAKEN VAN ELKE OPDRACHT!
# VERGEET DE CODE NIET UIT TE VOEREN!

### Vraag 1:
Zorg dat de uitkomst van de uitdrukking `CambreurCambreurCambreur` is.

In [ ]:
x = "Cambreur"
y = 3
z = 1
print(x * int(y * z))

### Vraag 2:
Zorg dat de uitkomst van de uitdrukking `42FalsePythonPython` is.

In [ ]:
x = 43
y = 1
z = False
a = 2
b = "Python"

print(str(x - y) + str(z) + a * b)

### Vraag 3:
Zorg dat de uitkomst van de uitdrukking `True` is.

In [ ]:
x = 1
y = 1
z = 201

print(x + (y * z) < 250 and z > 200)

### Vraag 4:
Om een auto te mogen kopen moet je tenminste €15000.- hebben en 18 jaar oud zijn. Zorg dat de uitkomst van het algoritme `Ja, ik mag een auto kopen` is. (Je moet hiervoor 2 `variabelen` gebruiken)

In [ ]:
geld = 15001
leeftijd = 20

if(geld > 15000 and leeftijd > 20):
    print("Ja, ik mag een auto kopen")
else:
    print("Nee, ik mag geen auto kopen")

### Vraag 5:
Jan, Piet & Willem willen samen op reis gaan. Hiervoor moeten ze samen tenminste €1250,- hebben. Maak een programma die checkt of ze genoeg geld hebben om op reis te gaan. Maak hiervoor 3 variabelen aan die elk het spaargeld van Jan, Piet & Willem bijhoudt. Schrijf vervolgens zelf een `If statement` die checkt of dit totaalbedrag genoeg is om op reis te gaan. (Kijk goed naar de andere opdrachten en zorg dat de code op de juiste plek staat! Vergeet de **:** niet!)

In [ ]:
jan = 
piet = 
willem = 

if(jan + piet + willem > 1250):
    print("Ja, ze kunnen op vakantie")
else:
    print("Nee, ze kunnen niet op vakantie")

### Vraag 6:
Maak een algoritme die verteld wanneer een nummer deelbaar is door 4, 6 of geen van beide. (maak gebruik van `modulo` (%))

In [ ]:
num = 8

if(num % 4 == 0):
    print("Nummer is deelbaar door 4")
elif(num % 6 == 0):
    print("Nummer is deelbaar door 6")
else:
    print("Nummer is niet deelbaar door 4 of 6")

### Vraag 7:
Maak een algoritme die kijkt of 2 nummers gelijk aan elkaar zijn **EN** dat tenminste 1 van de nummers positief is.

In [ ]:
num1 = 5
num2 = 5

if(num1 == num2 and (num1 > 0 or num2 > 0)):
    print("De nummers zijn gelijk aan elkaar en een van de twee nummers is positief")
else:
    print("De nummers zijn niet gelijk aan elkaar of beide zijn negatief")

### Vraag 8:
Maak een lijstje met de waardes `1, 2, 3, 5, 7, 13` en print deze uit.

In [ ]:
lijst = [1, 2, 3, 5, 7, 13]

print(lijst)

### Vraag 9:
Maak een lijstje met de waardes `10, 20, 30`, voeg vervolgens de waarde `40` toe aan het lijstje en print dan het lijstje uit.

In [ ]:
tientallen = [10, 20, 30]
tientallen.append(40)

print(tientallen)

### Vraag 10:
Maak een lijstje `sport` en de waardes `Voetbal, Handbal, Banaan`. Haal vervolgens de waarde `Banaan` uit het lijstje en voeg de waarde `Hockey` toe. Print ten slotte het lijstje uit.

In [ ]:
sport = ["Voetbal", "Handbal", "Banaan"]
sport.pop(2)
sport.append("Hockey")

print(sport)

### Vraag 11:
Maak de `for-loop` af zodat alleen even waardes uit het lijstje worden uitgeprint.

In [ ]:
nummers = [-32, 14, -47, 33, -32, -56, 51, 59, -77, 8]

for getal in nummers:
    if(getal % 2 == 0):
        print(getal)

### Vraag 12:
Maak een lijstje en gebruik vervolgens een `for-loop` om alle waardes uit het lijstje onder elkaar uit te printen.

In [ ]:
nummers = [-32, 14, -47, 33, -32, -56, 51, 59, -77, 8]

for getal in nummers:
    print(getal)

### Vraag 13:
Maak een algoritme die alle oneven waardes uitprint in het bereik van 1 tot en met 100. (Maak gebruik van een `for-range` loop)

In [ ]:
for getal in range(0, 101):
    if(getal % 2 == 1):
        print(getal)

### Opdracht 14:
Maak een algoritme die alle waardes deelbaar door 7 **of** negatief zijn uitprint in het bereik van -100 tot en met 100.

In [ ]:
for getal in range(-100, 101):
    if(getal % 7 == 0 or getal < 0):
        print(getal)

### Opdracht 15:
Maak een algoritme die alle even waardes tot en met 100 bij elkaar **optelt**.

In [ ]:
totaal = 0

for getal in range(0, 101):
    if(getal % 2 == 0):
        totaal = totaal + getal

print(totaal)